@import "index";

.text-container {
    background-color: rgba(255,255,255,0.5);
    display: flex;
    text-align: center;
    flex-direction: column;
    font-family: $primary-font;
    .experience {
        width: 100%;
        margin: 20px auto;
    }
}